<div class="card__section__content  ">
  <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" class="card__img" />
  <div class="card__content">
    <h2 class="card__title">{{title}}</h2>
    <div class="card__mainInfo">
      <ul class="card__mainInfo__list list">
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">
            Vote <span> /</span> Votes
          </p>
          <p class="card__mainInfo__item__vote">{{vote_average}}</p>
          <span> / </span>
          <p class="card__mainInfo__item__votes">{{vote_count}}</p>
        </li>
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">Popularity</p>
          <p class="card__mainInfo__item__popularity">{{popularity}}</p>
        </li>
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">Original title</p>
          <p class="card__mainInfo__item__film">{{original_title}}</p>
        </li>
        <li class="card__mainInfo__item">
          <p class="card__mainInfo__itemTitle">Genre</p>
          <p class="card__mainInfo__item__genre">{{genres.name}}</p>
        </li>
      </ul>
    </div>
    <div class="card__aboutInfo">
      <h3 class="card__aboutInfo__title">ABOUT</h3>
      <p class="card__aboutInfo__text">
        {{overview}}
      </p>
    </div>
    <div class="card__checkbox">
      <ul class="card__button__list list">
        {{!-- <li>
              <button class="card__btn__watched button" id="btn_watched">
                <svg class="card__btn__watched__icon" width="20px" height="20px">
                  <use href="../images/detailsPage/card-page.svg#icon-film"></use>
                </svg>
                <span class="card__btn__text">add to Watched</span>
              </button>
            </li>
            <li>
              <button class="card__btn__queue button" id="btn_queue">
                <svg class="card__btn__queue__icon" width="20px" height="20px">
                  <use href="../ images/detailsPage/card-page.svg#icon-rocket"></use>
                </svg>
                <span class="card__btn__text">add to Queue</span>
              </button>
            </li> --}}
      </ul>
    </div>
  </div>
</div>